<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Product Stuff</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Sample product requirements documents. Why did I make these? Read more <a href="https://medium.com/@jonathan_lao/make-your-product-manager-application-stand-out-with-a-custom-product-requirements-document-f706b7c2e57b">here</a>.</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>
